<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %> <!-- Flash messages -->

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form action="/account/editReview" method="post">
    <label for="review_date">Review Date:</label>
    <input type="text" name="review_date" id="review_date" value="<%= formattedDate %>" readonly>
    <label for="review_text">Review Text:</label>
    <textarea name="review_text" id="review_text" cols="30" rows="10" required><%= review.review_text %></textarea>
    <input type="hidden" name="review_id" value="<%= review.review_id %>">
    <input type="hidden" name="account_id" value="<%= review.account_id %>">
    <input type="hidden" name="inventory_id" value="<%= review.inventory_id %>">
    <button type="submit" class="form-button">Update Review</button>
</form>