<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
} %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- The view must be capable of displaying a flash message sent from the existing inventory controller. -->
<%- messages() %>

<form action="/inv/addInventory" method="post">
    <p class="form-pair">
        <label for="classification_id" class="required">Classification</label>
        <%- dropdown %>
    </p>
    <!-- inventory make -->
    <p class="form-pair">
        <label for="inventory_make" class="required">Make</label>
        <input 
            type="text" 
            id="inventory_make" 
            name="inventory_make" 
            class="form-input" 
            placeholder="Enter the make of the inventory item"
            required
            value="<%= locals.inventory_make %>"
        >
    </p>
    <!-- inventory model -->
    <p class="form-pair">
        <label for="inventory_model" class="required">Model</label>
        <input 
            type="text" 
            id="inventory_model" 
            name="inventory_model" 
            class="form-input" 
            placeholder="Enter the model of the inventory item"
            required
            value="<%= locals.inventory_model %>"
        >
    </p>
    <!-- inventory year -->
    <p class="form-pair">
        <label for="inventory_year" class="required">Year</label>
        <input 
            type="number" 
            id="inventory_year" 
            name="inventory_year" 
            class="form-input" 
            placeholder="Enter the year of the inventory item"
            required
            value="<%= locals.inventory_year %>"
        >
    </p>
    <!-- inventory description -->
    <p class="form-pair">
        <label for="inventory_description" class="required">Description</label>
        <textarea id="inventory_description" name="inventory_description" class="form-input" placeholder="Enter the description of the inventory item" required><%= locals.inventory_description %></textarea>
    </p>
    <!-- inventory image -->
    <p class="form-pair">
        <label for="inventory_image" class="required">Image</label>
        <input 
            type="text" 
            id="inventory_image" 
            name="inventory_image" 
            class="form-input" 
            placeholder="Enter the image of the inventory item"
            required
            value="<%= locals.inventory_image %>"
        >
    </p>
    <!-- inventory thumbnail -->
    <p class="form-pair">
        <label for="inventory_thumbnail" class="required">Thumbnail</label>
        <input 
            type="text" 
            id="inventory_thumbnail" 
            name="inventory_thumbnail" 
            class="form-input" 
            placeholder="Enter the thumbnail of the inventory item"
            required
            value="<%= locals.inventory_thumbnail %>"
        >
    </p>
    <!-- inventory price -->
    <p class="form-pair">
        <label for="inventory_price" class="required">Price</label>
        <input 
            type="number" 
            id="inventory_price" 
            name="inventory_price" 
            class="form-input" 
            placeholder="Enter the price of the inventory item"
            required
            value="<%= locals.inventory_price %>"
        >
    </p>
    <!-- inventory miles -->
    <p class="form-pair">
        <label for="inventory_miles" class="required">Miles</label>
        <input 
            type="number" 
            id="inventory_miles" 
            name="inventory_miles" 
            class="form-input" 
            placeholder="Enter the miles of the inventory item"
            required
            value="<%= locals.inventory_miles %>"
        >
    </p>
    <!-- inventory color -->
    <p class="form-pair">
        <label for="inventory_color" class="required">Color</label>
        <input 
            type="text" 
            id="inventory_color" 
            name="inventory_color" 
            class="form-input" 
            placeholder="Enter the color of the inventory item"
            required
            value="<%= locals.inventory_color %>"
        >
    </p>
    <button type="submit" class="form-button">Add Inventory</button>
</form>